.statistics-container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statistics-game-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}